.underlined-link{
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 0.1rem;
    transition: text-decoration-thickness ease .1s;
}

form {
    display: block;
    border-radius: 2px blue;
}

.quantity__button{
    height: 20px;
    width: 10px;
}